<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>
<br>
<p [innerText]="serverCreationStatus"></p>
<hr>
<p *ngIf="serverCreated; else noServer">
  Server with ID {{ serverId }} and name {{ serverName }} is {{ getServerStatus() }}
</p>
<ng-template #noServer>
  <p>
    Server Status: {{ getServerStatus() }}
  </p>
</ng-template>
